doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content="")
    meta(name='author' content='Abhishek Anil Deshmukh')
    block title
    // Favicon
    link(rel='apple-touch-icon' sizes='180x180' href='./static/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./static/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./static/favicon/favicon-16x16.png')
    link(rel='manifest' href='./static/favicon/site.webmanifest')
    link(rel='mask-icon' href='./static/favicon/safari-pinned-tab.svg' color='#5bbad5')
    meta(name='msapplication-TileColor' content='#da532c')
    meta(name='theme-color' content='#ffffff')

    // Bootstrap
    //link(href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css" rel="stylesheet")

    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet")

    block head
  body
    block body

